body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
}


canvas {
	position: absolute;
	bottom: 0%;
	left: 10%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1; /* Définissez un z-index négatif pour placer l'image en arrière-plan */
	animation: fade 1s infinite;
}

#logo {
	width: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

#logo img {
	width: 20%;
	position: absolute;
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes slide-in-top {
	0% {
		transform: translate(-50%, -100%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

@keyframes slide-in-bottom {
	0% {
		transform: translate(-50%, 100%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.96;
	}
	100% {
		opacity: 1;
	}
}
